@model MusicManager.Models.Album

@{
    ViewBag.Title = "Edit";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        // add a track
        $('#add_track').click(function () {
            var cnt = $('.track').length;
            if (cnt < 20) {
                var html = '<li class="track form-inline">';
                html += 'Track order: <input type="text" class="input-small" name="track_order" />&nbsp;&nbsp;';
                html += 'Length (sec): <input type="text" class="input-small" name="track_length" />&nbsp;&nbsp;';
                html += 'Name: <input type="text" class="input-medium" name="track_name" />&nbsp;&nbsp;';
                html += '<a class="btn btn-warning remove_track">remove</a>';
                html += '</li>';
                $('#tracks_area').append(html);
            }
        });
        // remove a track
        $('.remove_track').live("click", function () {
            $(this).parent().remove();
        });

        // update form
        $('#edit_form').live("submit", function () {
            var id = $('#AlbumId').val();
            var title = $('#Title').val();
            var artist = $('#Artist').val();
            var genre = $('#Genre').val();
            var tracks = [];
            $('.track').each(function () {
                var track_order = $('input[name="track_order"]', this).val();
                var track_length = $('input[name="track_length"]', this).val();
                var track_name = $('input[name="track_name"]', this).val();
                // I can implement validation on each track object here but I don't have time yet
                tracks.push({
                    albumid: id,
                    trackname: track_name,
                    order: track_order,
                    length: track_length
                });
            });
            var album = {
                albumid: id,
                title: title,
                artist: artist,
                genre: genre,
                tracks: tracks
            };
            console.log(album);
            $('#edit_btn').val('loading...').attr('disabled', 'disabled');
            $.ajax({
                url: '@Url.Action("Edit", "Home")',
                type: 'POST',
                data: JSON.stringify(album),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $('#edit_btn').val('Update').removeAttr('disabled');
                    if (data.Success) {
                        window.location.href = '@Url.Action("Index", "Home")';
                    }
                    else
                        alert('failed');
                },
                error: function () {

                }
            });
            return false;
        });
    });
</script>

<div class="row-fluid">
@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { @id = "edit_form", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit Album</legend>

        @Html.HiddenFor(model => model.AlbumId)

        <!-- title -->
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <!-- artist -->
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Artist)
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Artist)
                @Html.ValidationMessageFor(model => model.Artist)
            </div>
        </div>

        <!-- genre -->
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.Genre, "Genre")
            </div>
            <div class="controls">
                @Html.EditorFor(model => model.Genre)
                @Html.ValidationMessageFor(model => model.Genre)
            </div>
        </div>

        <!-- multiple tracks -->
        <div class="control-group">
            <div class="control-label">
                <label>Multiple tracks</label>
            </div>
            <div class="controls">
                <a id="add_track" class="btn btn-success">add one</a>
                (limit to 20)
            </div>
            <div class="controls">
                <ul id="tracks_area">
                @foreach (var track in Model.Tracks)
                {
                    <li class="track form-inline">
                        Track order: <input type="text" class="input-small" name="track_order" value="@track.Order" />&nbsp;
                        Length (sec): <input type="text" class="input-small" name="track_length" value="@track.Length" />&nbsp;
                        Name: <input type="text" class="input-medium" name="track_name" value="@track.TrackName" />&nbsp;
                        <a class="btn btn-warning remove_track">remove</a>
                    </li>
                }
                </ul>
            </div>
        </div>
              
        <input id="edit_btn" type="submit" value="Update" class="btn btn-inverse btn-large" />
    </fieldset>
}
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
